body {
  font-family: "Minecraft", sans-serif;
  background-image: url(img/fondo.jpg);
  margin-top: 100px;
}

section#principal {
  font-size: 1.2em;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

section#principal input {
  /* font-family: "Minecraft", sans-serif; */
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

input#iniciar input {
  color: chartreuse;
}

article#comandos {
  border: 1px solid lightgrey;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  min-height: 300px;
  vertical-align: top;
  width: 250px;
}

article#tablero {
  padding: 15px;
  border: 1px solid lightseagreen;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  min-height: auto;
  margin: 0 auto;
  text-align: center;
  width: auto;
}
article#tablero input {
  font-size: 3em;
  height: 80px;
  width: 80px;
  margin: 5px;
}

input[type="button"]#iniciar {
  font-size: 0.8em;
  margin-top: 2em;
  padding: 0.7em;
}

input[type="text"] {
  font-size: 1em;
  margin: 0.2em;
  padding: 0.1em;
}

label {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.botonIniciar {
  color: #77d;
  background-color: #77d;
}

.botonJugador1 {
  color: #fff;
  background-color: #d77;
}

.botonJugador2 {
  color: #fff;
  background-color: #7d7;
}
